/* ----------------------------------------------------------------
	Canvas: Modern Blog
-----------------------------------------------------------------*/


#content {
	margin: 0;
	width: 100%;
}

#slider {
	position: relative;
	width: 100% !important;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
}

#header.sticky-header.transparent-header #header-wrap:not(.not-dark) {
	background-color: transparent !important;
	box-shadow: none;
}

@media (min-width: 992px) {

	#header { border-bottom: 0; }

	#content {
		width: 50%;
		float: right;
	}

	#slider {
		position: fixed;
		top: 0;
		right: auto;
		left: 0;
		width: 50% !important;
		height: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center right;
		background-size: cover;
	}

	#header .container-fluid,
	#content .container {
		padding-left: 40px;
		padding-right: 40px;
	}

	#header-wrap #primary-menu-trigger {
		right: 40px;
		opacity: 1;
	}

	.sticky-header #header-wrap #primary-menu-trigger {
		opacity: 0;
		-webkit-transition: transform .2s ease, opacity .2s ease;
			-o-transition: transform .2s ease, opacity .2s ease;
				transition: transform .2s ease, opacity .2s ease;
		-webkit-transform: translateY(-25px);
			-ms-transform: translateY(-25px);
				-o-transform: translateY(-25px);
					transform: translateY(-25px);
		backface-visibility: hidden;
		z-index: -2;
	}

	#content { margin-top: -80px; }
}

.entry {
	background-color: #FFF;
	padding: 0;
	vertical-align: top;
	border-bottom: 0;
	border-radius: 4px;
	-webkit-transform-origin: 50% 50% 0px;
		transform-origin: 50% 50% 0px;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .5, 1);
		-o-transition: all 250ms cubic-bezier(.02, .01, .5, 1);
			transition: all 250ms cubic-bezier(.02, .01, .5, 1);
}

.entry:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,.05);
	-webkit-transform: translate(0, -8px);
		-ms-transform: translate(0, -8px);
			-o-transform: translate(0, -8px);
				transform: translate(0, -8px);
}

.entry-title,
.entry-meta,
.entry-content { padding: 0 20px; }

.entry-title h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 12px;
}

.entry-title a { color: #333; }

.entry-content p {
	margin-bottom: 0;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 22px !important;
	font-family: 'Work Sans', sans-serif;
}

.entry-meta {
	font-size: 0.8125rem;
	text-transform: uppercase;
	border-top: 1px solid #E9EBEE;
	padding: 15px 0;
	margin: 15px 15px 0;
}

.dark .entry-meta { border-top-color: #444; }

.entry-meta li {
	margin-left: 0;
	margin-right: 0;
}

.entry::after { display: none; }

.entry-meta li::before { content: none; }

.entry-meta.nohover,
.entry:hover .entry-meta.hover { display: block; }

.entry-meta.hover,
.entry:hover .entry-meta.nohover { display: none; }

.entry-user { padding: 20px; }

.entry-user img {
	display: inline-block;
	height: 48px;
	width: 48px;
	border-radius: 100%;
	background-color: white;
}

.entry-user h4 {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 8px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 1.25;
}

.entry-user h4 span {
	display: block;
	font-size: 11px;
	color: #AAA !important;
	text-transform: lowercase;
	font-weight: 300;
}

.entry-image .social-icon {
	display: inline-block;
	float: none;
}

.slide .slide-caption h3,
.slide .slide-caption p {
	opacity: 0;
	-webkit-transform: scale(0.9);
		transform: scale(0.9);
	-webkit-transition: -webkit-transform .05s ease-out;
		transition: -webkit-transform .05s ease-out;
			transition: transform .05s ease-out;
				transition: transform .05s ease-out, -webkit-transform .05s ease-out;
	-webkit-backface-visibility: hidden;
}

.slide.flex-active-slide .slide-caption h3,
.slide.flex-active-slide .slide-caption p {
	opacity: 1;
	-webkit-transition: transform 1s, opacity 1.05s;
		-o-transition: transform 1s, opacity 1.05s;
			transition: transform 1s, opacity 1.05s;
	-webkit-transform: scale(1);
		-ms-transform: scale(1);
			-o-transform: scale(1);
				transform: scale(1);
	-webkit-backface-visibility: hidden;
}

.slide.flex-active-slide .slide-caption p {
	-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
			-webkit-backface-visibility: hidden;
}

.border-bottom { border-bottom-color: #E9EBEE !important; }

.instagram-photos a:hover { opacity: 0.85; }

.instagram-button .button {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
		-ms-transform: translate3d(-50%,-50%,0);
			-o-transform: translate3d(-50%,-50%,0);
				transform: translate3d(-50%,-50%,0);
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .5, 1);
		-o-transition: all 250ms cubic-bezier(.02, .01, .5, 1);
			transition: all 250ms cubic-bezier(.02, .01, .5, 1);
}

.instagram-button .button:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,.4);
	-webkit-transform: translate3d(-50%,-58%,0);
		-ms-transform: translate3d(-50%,-58%,0);
			-o-transform: translate3d(-50%,-58%,0);
				transform: translate3d(-50%,-58%,0);
}
