.single-post .entry:hover{
    box-shadow: unset !important;
}
.popular-post-list-sidebar .entry:hover{
    box-shadow: unset !important;
}
.social-icon-blog{
    margin-left: 5px;
    margin-right: 5px;
}
.social-icon-blog i{
    color: #fff;
}